<!DOCTYPE html>
<html>
<head>
<title>Registration Form  - Demo Preview</title>
</head>
<body >
        <form>
        <h2>Login Form</h2>
        <label>Email :</label>
        <input type="text" name="demail" id="email">
        <label>Password :</label>
        <input type="password" name="password" id="password">
        <button id="login">Login</button>
        </form>
        <form>
        <h2>Registration Form</h2>
        <label>Name :</label>
        <input type="text" name="dname" id="name">
        <label>Email :</label>
        <input type="text" name="demail" id="email1">
        <label>Password :</label>
        <input type="password" name="password" id="password1">
        <label>Confirm Password :</label>
        <input type="password" name="cpassword" id="cpassword1">
        <input type="button" id="submit" value="Submit">
        <input type="button" name="login" id="back" value="Login">
        </form>
    </body>
        
</html>